<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title> <!-- sets title from the given page - looks like OOP -->
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav><!-- sets navbar at top -->
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/about">About</a></li> <!-- I added an extra link in the navbar -->
</ul>
</nav>
<div class="container"> <!-- presumably bootstrap -->
{{ content }}
</div>
<footer> <!-- sets the footer -->
<ul>
  
  <!--spacing like this doesnt matter in html-->
  
  
  
  
  
<li><a href="https://pbs.twimg.com/profile_images/2577729498/mutant-animals26_400x400.jpg">bob fish :)</a></li>
<li><a href="https://www.google.com/search?q=bobfish&tbm=isch&chips=q:bobfish,g_1:water:1dmT-y6skug%3D&client=opera-gx&hs=IWc&hl=en&sa=X&ved=2ahUKEwienJn317bzAhUS_BoKHaP8DIsQ4lYoAHoECAEQEg&biw=1864&bih=931"> more bob fish </a></li>
<!-- idk what kind of links we were supposed to give but there you go -->
</ul>
</footer>
</body>
</html>
